In [15]:
import pandas as pd

In [16]:
!ls -l /tmp/pump*

-rw-rw-r-- 1 leo leo    0 Jan 12 15:24 /tmp/pump-measure.X.S350.short.v2e.00.a01.broad.2025-01-12T15:24:40.453837.csv
-rw-rw-r-- 1 leo leo 1532 Jan 12 15:34 /tmp/pump-measure.X.S350.short.v2e.00.a01.broad.2025-01-12T15:27:55.373178.csv
-rw-rw-r-- 1 leo leo 1573 Jan 12 15:55 /tmp/pump-measure.X.S350.short.v2e.00.a01.broad.2025-01-12T15:40:24.147778.csv
-rw-rw-r-- 1 leo leo    0 Jan 12 16:02 /tmp/pump-measure.X.S350.short.v2e.00.a01.broad.2025-01-12T16:02:03.356605.csv
-rw-rw-r-- 1 leo leo 3352 Jan 12 17:51 /tmp/pump-measure.X.S350.short.v2e.00.a01.broad.2025-01-12T16:02:54.637768.csv

In [17]:
# measurements = pd.read_csv("data/pump-measure.X.S350.short.v2e.00.a00.broad.2024-12-17T18:15:42.412964.csv")
# Successful run with A00
# measurements = pd.read_csv("data/pump-measure.X.S350.short.v2e.00.a00.broad.2024-12-18T07:32:09.437732.csv")
measurements = pd.read_csv("data/pump-measure.X.S350.short.v2e.00.a01.broad.2025-01-12T15:40:24.147778.csv")
# A01: low speed is good, others are garbage. Something up with the test rig?
# measurements = pd.read_csv("data/pump-measure.X.S350.short.v2e.00.a01.broad.2025-01-12T16:02:54.637768.csv")

measurements

,pump,revs,rate,time,T000_F_d,T000_F_n,T000_F_x,T000_R_d,T000_R_n,T000_R_x,...,T008_R_n,T008_R_x,T008_drift,T009_F_d,T009_F_n,T009_F_x,T009_R_d,T009_R_n,T009_R_x,T009_drift
0,X,50,100,2025-01-12T15:54:35.585991,11.3,145.644,156.944,32.556,113.088,145.644,...,105.053,137.371,-1.004,31.315,105.052,136.367,32.295,104.053,136.348,-0.999

In [18]:
test_0 = measurements.iloc[0]
test_0

pump                                   X
revs                                  50
rate                                 100
time          2025-01-12T15:54:35.585991
T000_F_d                            11.3
                         ...
T009_F_x                         136.367
T009_R_d                          32.295
T009_R_n                         104.053
T009_R_x                         136.348
T009_drift                        -0.999
Name: 0, Length: 74, dtype: object

In [19]:
measurements.columns

Index(['pump', 'revs', 'rate', 'time', 'T000_F_d', 'T000_F_n', 'T000_F_x',
       'T000_R_d', 'T000_R_n', 'T000_R_x', 'T000_drift', 'T001_F_d',
       'T001_F_n', 'T001_F_x', 'T001_R_d', 'T001_R_n', 'T001_R_x',
       'T001_drift', 'T002_F_d', 'T002_F_n', 'T002_F_x', 'T002_R_d',
       'T002_R_n', 'T002_R_x', 'T002_drift', 'T003_F_d', 'T003_F_n',
       'T003_F_x', 'T003_R_d', 'T003_R_n', 'T003_R_x', 'T003_drift',
       'T004_F_d', 'T004_F_n', 'T004_F_x', 'T004_R_d', 'T004_R_n', 'T004_R_x',
       'T004_drift', 'T005_F_d', 'T005_F_n', 'T005_F_x', 'T005_R_d',
       'T005_R_n', 'T005_R_x', 'T005_drift', 'T006_F_d', 'T006_F_n',
       'T006_F_x', 'T006_R_d', 'T006_R_n', 'T006_R_x', 'T006_drift',
       'T007_F_d', 'T007_F_n', 'T007_F_x', 'T007_R_d', 'T007_R_n', 'T007_R_x',
       'T007_drift', 'T008_F_d', 'T008_F_n', 'T008_F_x', 'T008_R_d',
       'T008_R_n', 'T008_R_x', 'T008_drift', 'T009_F_d', 'T009_F_n',
       'T009_F_x', 'T009_R_d', 'T009_R_n', 'T009_R_x', 'T009_drift'],
      dtype='object')

In [20]:
forwards_columns = [c for c in measurements.columns if 'F_d' in c][1:]
forwards_columns

['T001_F_d',
 'T002_F_d',
 'T003_F_d',
 'T004_F_d',
 'T005_F_d',
 'T006_F_d',
 'T007_F_d',
 'T008_F_d',
 'T009_F_d']

In [21]:
reverse_columns = [c for c in measurements.columns if 'R_d' in c][1:]
reverse_columns

['T001_R_d',
 'T002_R_d',
 'T003_R_d',
 'T004_R_d',
 'T005_R_d',
 'T006_R_d',
 'T007_R_d',
 'T008_R_d',
 'T009_R_d']

In [22]:
measurements[forwards_columns] #.mean(axis='columns')

,T001_F_d,T002_F_d,T003_F_d,T004_F_d,T005_F_d,T006_F_d,T007_F_d,T008_F_d,T009_F_d
0,31.4,31.388,31.406,0.001,31.372,31.358,31.348,31.333,31.315

In [23]:
measurements[reverse_columns]

,T001_R_d,T002_R_d,T003_R_d,T004_R_d,T005_R_d,T006_R_d,T007_R_d,T008_R_d,T009_R_d
0,32.379,32.386,32.401,32.368,32.356,32.341,32.323,32.318,32.295

In [24]:
for name, columns in [('forwards', forwards_columns), ('reverse', reverse_columns)]:
    for c in columns:
        for r in [r for r in measurements.index if measurements.loc[r, c] < 0.02]:
            measurements.loc[r, c] = pd.NA
    measurements[f'{name}_mean'] = measurements[columns].mean(axis='columns', skipna=True)
    measurements[f'{name}_std'] = measurements[columns].std(axis='columns', skipna=True, ddof=0)
    measurements[f'{name}_CoV'] = measurements[f'{name}_std'] / measurements[f'{name}_mean']

In [25]:
measurements.drop([c for c in measurements.columns if 'T0' in c], axis='columns', inplace=True)
measurements

,pump,revs,rate,time,forwards_mean,forwards_std,forwards_CoV,reverse_mean,reverse_std,reverse_CoV
0,X,50,100,2025-01-12T15:54:35.585991,31.365,0.030303,0.000966,32.351889,0.033208,0.001026